@import "./stage.css";
@import "./editor.css";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;

  color: #fff;
  font-size: 1.6vmin;
  font-family: 'Outfit', sans-serif;

  user-select: none;
}

html {
  overflow: hidden;
}

body {
  position: relative;

  width: 100vw;
  height: 100vh;

  background-color: #222;

  overflow: hidden;
}

#wrapper {
  display: flex;

  height: 100vh;
}
#game-screen {
  position: relative;
  flex: 2;
}
#screen-divider {
  flex: 0.01;
  background-color: #fff;
}
#editor {
  flex: 3;
}
@media screen and (orientation: portrait) {
  #wrapper {
    flex-direction: column;
  }

  #editor {
    flex: 3.5;
  }
}

#full-screen-btn {
  position: absolute;

  padding: 0.5%;

  right: 0;
  top: 0;

  color: #000;
  font-size: 2em;
  
  background-color: rgb(231, 175, 22);
  opacity: 0.5;

  z-index: 5;
}
